################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RAR/Server/RarApiGUI/bin/Debug
/RAR/Server/RarApiGUI/obj/Debug
/.vs/Referral-Applicatie-Recruitment/FileContentIndex
/.vs/Referral-Applicatie-Recruitment/v17
*.sqlite
/.vs
/RAR/Server/RarApiGUI/obj/Release
